.accordion{
margin-top: 2%;

width: 1000px;
height: 500px;

}
#font-control{
    margin-left: 32%;
    
}

.mb-2{
margin-left: 10%;

}


#year{
    margin-left: 10%;
}

.navbar-brand{
    margin-left: 10%;
    
    }
    
    
    .navbar-toggler{
       margin-right: 1%;
       
       }


       #fa{
        height: 700px ;
        width: 1000px;


       }